In [1]:
1

1

In [2]:
1+2

3

여기는 텍스트를 편집하는 셀입니다

- ctrl + Enter : 현재 셀 실행하고 그대로 있음
- shift + Enter : 현재 셀 실행하고 다음 셀로 이동
- alt + Enter : 현재 셀 실행하고 아래에 새로운 셀 만들고 이동

#### Command mode의 단축키

- Esc : Command mode로 전환
- a : 위쪽에 cell 추가
- b : 아래쪽에 cell 추가
- m : code 창을 text 창으로 전환
- y : text 창을 code 창으로 전환
- dd : 현재 cell을 삭제

텍스트 창입니다

### 주석

- 프로그램의 실행에 영향을 주지 않고 설명을 추가
- \# 다음에 주석을 작성

In [3]:
1 + 4   # +는 더하기 연산자

5

### 변수

- 필요할 때마다 값을 가져다 쓸 수 있도록 저장해 놓는 공간
- 변수명 = 값

In [4]:
a = 100

In [5]:
a

100

In [6]:
b = 200

In [7]:
b

200

In [8]:
a + 20

120

변수에는 정수, 실수, 문자, 논리 등을 저장할 수 있다

In [9]:
c = 3.40
d = "Python"
e = True

In [10]:
c

3.4

In [11]:
d

'Python'

In [12]:
e

True

name 변수에 이름, iq 라는 변수에 아이큐를 저장

In [13]:
name = "신현빈"
iq = 120

In [14]:
name

'신현빈'

In [15]:
iq

120

출력문 : print() 함수
- () 안의 내용을 출력하는 기능을 함
- () 안에는 값이나 변수를 사용할 수 있음

In [16]:
print(100)

100

In [17]:
print("홍길동")

홍길동

In [18]:
print(a)

100

In [19]:
print(a + 20)

120

In [20]:
# 여러 값을 출력한다면 컴마(,)로 구분
print(100, "홍길동")

100 홍길동

In [21]:
print(a, "홍길동")

100 홍길동

In [22]:
print(a, b)

100 200

name에 "홍길동을 저장하고 age에 20을 저장한 후에 "홍길동 : 20"과 같이 출력

In [23]:
name = "홍길동"
age = 20
print(name, ":", age)

홍길동 : 20

In [24]:
num4 = 3.1425
num5 = 1.25
num6 = 3.0

num4, num5, num6

(3.1425, 1.25, 3.0)

문자 "Hello World"를 쌍따옴표를 서서 str1 변수에 외따옴표를 써서 str2에 저장하고 출력

In [25]:
str1 = "Hello World"
str2 = 'Hello World'

str1, str2
print(str1, "    ", str2)

Hello World      Hello World

### 변수명 작성 규칙

- (1) 변수명은 영문자, 숫자, _ 만을 사용할 수 있다
- (2) 영문자는 대소문자를 구별한다
- (3) 첫 번째 문자는 숫자가 올 수 없다
- (4) 특수문자(\#, $, / 등)은 쓸 수 없다
- (5) 명령어를 변수명으로 사용할 수 없다

#### 변수명 작성 시 권장사항

- (6) 변수명은 가능한한 의미를 알 수 있도록 작성한다
- (7) 두 개 단어 이상으로 구성된 변수명은 _ 나 두 번째 단어의 첫 단어를 대문자를 사용하여 구분
- (8) 한 단어로 구성된 변수명은 가능한 한 소문자를 사용한다

In [26]:
# (1) 변수명은 영문자, 숫자, _ 만을 사용할 수 있다
a = 10
a1 = 20
a_ = 30

a, a1, a_

(10, 20, 30)

In [27]:
(4) 특수문자(#, $, / 등)은 쓸 수 없다
$a = 10

SyntaxError: invalid syntax (<ipython-input-27-585742a1df5b>, line 1)

In [28]:
# (2) 영문자는 대소문자를 구별한다
num = 100

Num

NameError: name 'Num' is not defined

In [29]:
# (3) 첫 번째 문자는 숫자가 올 수 없다
1a = 20

SyntaxError: invalid syntax (<ipython-input-29-710bb57b032b>, line 2)

In [ ]:
# (5) 명령어를 변수명으로 사용할 수 없다
# print = 20
# print

In [30]:
print(100) # 변수명으로 사용된 명령어(함수)는 사용할 수 없게 된다

100

In [33]:
# (6) 변수명은 가능한한 의미를 알 수 있도록 작성한다
a = 30 # 이것보다는

In [34]:
age = 30 # 이것이 바람직함

In [35]:
# (7) 두 개 단어 이상으로 구성된 변수명은 _ 나 두 번째 단어의 첫 단어를 대문자를 사용하여 구분
chapternumber = 5 # 이것보다는

In [ ]:
chapter_number = 5
chapterNumber = 5 # 이것들이 바람직함

In [36]:
# (8) 한 단어로 구성된 변수명은 가능한 한 소문자를 사용한다
Num = 10 # 이것보다는

In [37]:
num = 10 # 이것이 바람직함
# 첫 글자가 대문자인 것은 주로 모듈, 클래스, 패키지 등에 사용됨

str1에 "홍길동", str2에 "의적"을 =을 하나만 써서 저장

In [39]:
str1, str2 = "홍길동", "의적"
str1, str2

('홍길동', '의적')

In [ ]:
# a1, a2, a3에 100을 저장

a1 = 100
a2 = 100
a3 = 100

In [40]:
a1 = a2 = a3 = 200
a1, a2, a3

(200, 200, 200)

- 변수 x에 10을 저장, 변수 y에 20을 저장
- 변수 sum에 x와 y의 합을 저장
- print() 함수로 sum을 출력

In [42]:
x = 10
y = 20
sum = x + y
print("sum = ", sum)

sum =  30

In [43]:
print('she's gone')

SyntaxError: invalid syntax (<ipython-input-43-66edf98ea352>, line 1)

In [44]:
# 문자 내부에 외따옴표나 쌍따옴표가 있는 경우
# - 문자열을 같은 따옴표로 묶어주면 안됨

str = "she's gone"
str

"she's gone"

In [48]:
# 만약 문자열 내에 외따옴표와 쌍따옴표가 전부 있는 경우
# 특수문자를 문자열 안에 포함시키고자하는 경우에는 앞에 \를 붙여 사용한다
str3 = "She\'s said \"hoho\""
print(str3)

She's said "hoho"

#### 변수에 여러 줄의 문자를 넣을 경우

In [49]:
str5 = "안녕하세요
반갑습니다"

SyntaxError: EOL while scanning string literal (<ipython-input-49-bb21f980414c>, line 1)

In [50]:
# \n : 줄 넘김 문자
str6 = "안녕하세요\n반갑습니다"
print(str6)

안녕하세요
반갑습니다

In [54]:
name = "홍길동"
age = 30
job = "의적"

# print() 한 개를 사용하여 아래처럼 출력
# 이름 : 홍길동
# 나이 : 30
# 직업 : 의적

print("이름 : ", name, "\n나이 : ", age, "\n직업 : ", job)

이름 :  홍길동
나이 :  30
직업 :  의적

In [56]:
# \t : 탭 간격만큼 띄우는 기능
print("홍길동\t", "20")
print("홍길\t", "20")
print("홍\t", "20")

홍길동	 20
홍길	 20
홍	 20

In [62]:
print("이름\t", "나이\t", "직업")
print("=====================")
print(name, "\t", age,"\t", job)

이름	 나이	 직업
=====================
홍길동 	 30 	 의적

변수에 여러 줄의 문자열을 저장하는 방법 2

- '''내용''' 또는 """내용"""

In [64]:
str5 = '''안녕하세요
파이썬 수업중입니다'''
print(str5)

안녕하세요
파이썬 수업중입니다

In [65]:
str6 = """안녕하세요
파이썬 수업중입니다"""
print(str5)

안녕하세요
파이썬 수업중입니다

### indexing과 slicing

- indexing : 해당 인덱스(번호, 메모리 주소)의 값을 가져오는 것
- slicing : 해당 시작 인덱스와 끝 인덱스 사이의 값을 가져오는 것

In [66]:
#index:01234567890123456789012345    (왼쪽 인덱스)
str = "Python is easy and simple."
#index:65432109876543210987654321    (오른쪽 인덱스)

In [68]:
# 인덱스 값은 대괄호를 사용하여 설정
print(str[13])
print(str[-13])

y
y

In [69]:
print(str[17])

d

slicing

[시작인덱스 : 끝인덱스 + 1]

In [ ]:
#index:01234567890123456789012345    (왼쪽 인덱스)
str = "Python is easy and simple."
#index:65432109876543210987654321    (오른쪽 인덱스)

In [70]:
print(str[7:9])

is

In [73]:
print(str[15:18])
print(str[-11:-8])

and
and

생략된 slicing

In [75]:
# (1) 시작 인덱스를 생락하면 인덱스 0부터 시작
print(str[0:6])
print(str[:6])

Python
Python

In [83]:
# (2) 끝 인덱스를 생략하면 끝 인덱스까지 가져옴
# simple. 을 출력
print(str[19:26])
print(str[19:])
print(str[-7:0]) # 0은 맨 처음 인덱스로 인식하여 문제가 생김
print(str[-7:])

simple.
simple.

simple.

In [84]:
# (3) 시작 인덱스와 끝 인덱스를 생략하면 전체 값을 가져옴
print(str[:])

Python is easy and simple.

[문제] 다음과 같은 문자가 저장되어 있을 때

    str_info = "20200706Sunny"
    
아래와 같이 출력하도록 해보세요

년도 : 2020년 <br>
월일 : 07월 06일 <br>
날씨 : Sunny <br>

In [89]:
str_info = "20200706Sunny"

print("년도 :", str_info[:4], "년")
print("월일 :", str_info[4:6], "월", str_info[6:8], "일")
print("날씨 :", str_info[-5:])

년도 : 2020 년
월일 : 07 월 06 일
날씨 : Sunny

### 문자열 포맷팅 (Formatting)

- 출력 형식을 지정해서 값을 출력하는 것

In [90]:
s = "오늘은 12월 30일입니다"

In [92]:
# 오늘은 12월 31일입니다 라고 출력하려면

day = 31

# %d : 정수형(decimal)
# %f : 실수형(float)
# %c : 문자 1개 (character)
# %s : 문자열 (string)
s = "오늘은 12월 %d일입니다"%day
s

'오늘은 12월 31일입니다'

In [93]:
# 오늘은 1월 1일입니다

month = 1
day = 1

s = "오늘은 %d월 %d일입니다"%(month, day)
s

'오늘은 1월 1일입니다'

[문제]

s = "12월 30일 날씨는 눈이고 온도는 10.5도입니다"

month = 1 <br>
day = 1 <br>
weather = "맑음" <br>
temp = 12.3 <br>

1월 1일 날씨는 맑음이고 온도는 12.3도입니다

In [95]:
s = "12월 30일 날씨는 눈이고 온도는 10.5도입니다"

month = 1
day = 1
weather = "맑음"
temp = 12.3

# %.1f : 소수점 첫 째자리까지만 출력
s = "%d월 %d일 날씨는 %s이고 온도는 %.1f입니다"%(month, day, weather, temp)

print(s)

1월 1일 날씨는 맑음이고 온도는 12.3입니다

In [28]:
# format()를 이용해서 출력형식을 지정
# 장점 : 타입을 지정하지 않아도 됨
# 값을 출력할 위치에 {}를 표시
# format() 함수에 순서대로 값을 지정

s = "{}월 {}일 날씨는 {}이고 온도는 {}도입니다".format(month, day, weather, temp)
print(s)

NameError: name 'month' is not defined

In [47]:
str1 = "'홍길동' 캐릭터의 레벨은 50이며 현재 경험지는 25.8입니다. 직업은 도적입니다."
str2 = "'캔디' 캐릭터의 레벨은 49이며 현재 경험치는 87.2입니다. 직업은 마법사입니다."

print("캐릭터 정보")
print("==========================================")
print("항목\t\t", "캐릭터1\t", "캐릭터2")
print("------------------------------------------")
print("이름\t\t", str1[1:4], "\t", str2[1:3])
print("레벨\t\t", str1[15:17], "\t\t", str2[14:16])
print("경험치\t\t", str1[28:32]+"0%\t\t", str2[27:31]+"0%")
print("직업\t\t", str1[41:43], "\t\t", str2[40:43])
print("------------------------------------------\n")
print("캐릭터 레벨의 합은 %d입니다."%(int(str1[15:17])+int(str2[14:16])))

캐릭터 정보
==========================================
항목		 캐릭터1	 캐릭터2
------------------------------------------
이름		 홍길동 	 캔디
레벨		 50 		 49
경험치		 25.80%		 87.20%
직업		 도적 		 마법사
------------------------------------------

캐릭터 레벨의 합은 99입니다.

### 문자열 함수

In [57]:
str1 = "Python is easy and simple"
str2 = "Python은 쉽고 Python은 단순한 언어입니다"

len() : 문자열의 길이 (문자열 속에 포함된 문자의 수) 반환

In [53]:
print("str1의 길이 : ", len(str1))
print("str2의 길이 : ", len(str2))

str1의 길이 :  25
str2의 길이 :  20

count("문자") : 문자열에 포함된 해당 문자의 수를 셈

In [58]:
print("str1에 포함된 i의 갯수 : ", str1.count("i"))
print("str2에 포함된 '은'의 갯수 : ", str2.count("은"))

str1에 포함된 i의 갯수 :  2
str2에 포함된 '은'의 갯수 :  2

- index("문자") : 문자열에서 해당 문자열의 위치를 반환, 단 문자열 내에 해당 문자열이 없을 경우 에러
- find("문자") : 문자열에서 해당 문자열의 위치를 반환, 단 문자열 내에 해당 문자열이 없을 경우 -1 반환

In [70]:
print("str1에서 e의 위치 : ", str1.index("e"))
print("str1에서 e의 위치 : ", str1.find("e"))

str1에서 e의 위치 :  10
str1에서 e의 위치 :  10

In [66]:
print("str2에서 e의 위치 : ", str2.find("e"))
print("str2에서 e의 위치 : ", str2.index("e"))

str2에서 e의 위치 :  -1

ValueError: substring not found

"문자열1".join("문자열0") : "문자열0"의 문자들 사이에 "문자열1"을 삽입

In [73]:
print(" ".join(str1[:6])) # str1[:6]은 원래 Python
print("G".join(str2[:6])) # str2[:6]은 원래 Python

P y t h o n
PGyGtGhGoGn

- upper() : 영문자를 대문자로 변경
- lower() : 영문자를 소문자로 변경

In [75]:
print(str1.upper())
print(str1.lower())
print(str2.upper())
print(str2.lower())

PYTHON IS EASY AND SIMPLE
python is easy and simple
PYTHON은 쉽고 PYTHON은 단순한 언어입니다
python은 쉽고 python은 단순한 언어입니다

- lstrip() : 왼쪽에 있는 공백을 제거
- rstrip() : 오른쪽에 있는 공백을 제거
- strip() : 양쪽에 있는 공백을 제거

In [79]:
str3 = "      Python  "

print(str3.lstrip())
print(str3.rstrip())
print(str3.strip())

Python
      Python
Python

문자열0.replace("문자열1", "문자열2") : "문자열0" 내의 "문자열1"을 "문자열2"로 변경

In [81]:
print(str1.replace(" ", "_"))
print(str2.replace("y", "z"))

Python_is_easy_and_simple
Pzthon은 쉽고 Pzthon은 단순한 언어입니다

문자열.split("문자") : 문자열을 문자를 기준으로 분리

In [83]:
print(str1.split(" "))
print(str2.split("n"))

['Python', 'is', 'easy', 'and', 'simple']
['Pytho', '은 쉽고 Pytho', '은 단순한 언어입니다']