## 산술 연산자

- \+ : 덧셈, - : 뺄셈, * : 곱셈, / : 나눗셈
- // : 몫, % : 나머지

In [5]:
num1 = 10
num2 = 5

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)

15
5
50
2.0
2
0

\+ 가 문자열을 만나면

In [7]:
str1 = "10"
str2 = "5"

# + 연산자는 문자열을 만나면 연결(결합) 연산자로 사용
str1 + str2

'105'

In [9]:
# 숫자와 문자를 산술연산하면 에러
num1 + str1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

그래도 숫자 형태의 문자열을 더하고 싶다면

int("문자로 된 숫자") : 문자로 된 수를 정수형으로 변환

In [10]:
int(str1) + int(str2)

15

숫자들을 연산하지 않고 연결하고 싶다면

str(숫자) : 숫자로 문자형으로 변환

In [11]:
print(num1 + num2)
print(str(num1) + str(num2))

15
105

#### 값을 사용자로부터 입력받아서 사용

- input() : 사용자로부터 값을 입력받는 함수
- 기본적으로 문자열로 입력을 받음

In [12]:
name = input()

name

현빈

'현빈'

In [15]:
age = input("나이를 입력하세요 >> ")

age

나이를 입력하세요 >> 25

'25'

In [18]:
num1 = int(input("첫 번째 숫자를 입력 >> "))
num2 = int(input("두 번째 숫자를 입력 >> "))

print(num1 + num2)

첫 번째 숫자를 입력 >> 10
두 번째 숫자를 입력 >> 20
30

2개의 수를 입력받아서 산술 연산 (6가지)를 수행

In [19]:
num1 = int(input("첫 번째 숫자를 입력 >> "))
num2 = int(input("두 번째 숫자를 입력 >> "))

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)

첫 번째 숫자를 입력 >> 20
두 번째 숫자를 입력 >> 8
28
12
160
2.5
2
4

float() : 문자열을 실수형으로 변환

In [23]:
pi = "3.1415"
r = 20

# 원의 면적을 구하기
area = r * r * float(pi)

print(area)
print("%.2f"%area)

1256.6000000000001
1256.60

국어, 영어, 수학 점수를 입력받아서 총점과 평균을 출력

국어 점수 입력 >> 80 <br>
영어 점수 입력 >> 80 <br>
수학 점수 입력 >> 80 <br>

점수 총점 : 240 <br>
점수 평균 : 80.0 <br>

In [26]:
kor = int(input("국어 점수 입력 >> "))
eng = int(input("영어 점수 입력 >> "))
math = int(input("수학 점수 입력 >> "))

print("점수 총점 : %d"%(kor + eng + math))
print("점수 평균 : %.1f"%((kor + eng + math)/3))

국어 점수 입력 >> 85
영어 점수 입력 >> 90
수학 점수 입력 >> 92
점수 총점 : 267
점수 평균 : 89.0

In [35]:
time = int(input("시간 입력 >> "))
hour = time // 3600
minute = (time % 3600) // 60
second = (time % 3600) % 60

print("{}시간 {}분 {}초".format(hour, minute, second))

시간 입력 >> 1123
0시간 18분 43초

\* (곱셈) 연산자가 문자열과 만나면 반복 연산자로 사용됨

In [36]:
str1 = "Python"
num1 = 10

str1 * num1

'PythonPythonPythonPythonPythonPythonPythonPythonPythonPython'

In [37]:
str2 = "Good"

print(str2 * 10)

GoodGoodGoodGoodGoodGoodGoodGoodGoodGood

In [41]:
print("*" * 1)
print("*" * 2)
print("*" * 3)
print("*" * 4)
print("*" * 5)

*
**
***
****
*****

지수 연산자 \*\*

a ** x -> a^x

In [42]:
print(2 ** 8)

256

In [46]:
pi = 3.14
r = int(input("원의 반지름을 입력 >> "))

# 원의 넓이
area = pi*(r**2)

print(area)

원의 반지름을 입력 >> 40
5024.0

### 대입 (복합) 연산자

\= <br>
산술연산자\= : +=, -=, *=, /=, //=, %= <br>
변수명 = 값 또는 변수명

In [47]:
a = 10
a

10

In [48]:
b = a
b

10

In [51]:
# 복합연산자 : 산술연산자=
a = a + 10
a

30

In [54]:
b += 10
b

20

치환 : 두 개의 변수 값을 맞바꾸는 것

In [55]:
a = 20
b = 30

# a와 b의 값을 맞바꿈
c = 0

c = a
a = b
b = c

a, b

(30, 20)

In [56]:
a = 10
b = 20

a, b = b, a

a, b

(20, 10)

비교 연산자 : 크기를 비교하는 기능

- \== (같다), != (같지 않다), > (크다), >= (크거나 같다), < (작다), <= (작거나 같다)
- 결과값으로 True나 False를 반환

In [59]:
a = 10
b = 20
c = 10

print(a == b)
print(a != b)
print(a > b)
print(a >= c)
print(a < c)
print(a <= c)

False
True
False
True
False
True

In [61]:
print(10 <= a)

True

논리연산자 : 양쪽의 논리를 비교하여 논리연산을 수행

- and : 양쪽의 논리가 모두 True인 경우만 True
- or : 양쪽의 논리가 모두 False인 경우만 False
- not : True이면 False로 False면 True로 바꿈

In [62]:
num1 = 20
num2 = 30
num3 = 20

print(not num1 == num2)

True

삼항 연산자

- 값 또는 변수 if 조건식 else 값 또는 변수
- 조건식은 비교 연산자나 논리 연산자로 구성

In [63]:
a = 11

"짝수" if a % 2 == 0 else "홀수"

'홀수'

In [65]:
money = 2000

# 만약에 돈이 10000원 이상이면 "택시"를 출력하고
# 10000원 미만이면 "버스"를 출력 (삼항연산자)

"택시" if money >= 10000 else "버스"

'버스'

[문제] <br>
2개의 숫자를 입력받아서 큰 수를 출력해보세요

In [69]:
num1 = int(input("첫 번째 숫자를 입력하세요 >> "))
num2 = int(input("두 번째 숫자를 입력하세요 >> "))

big = (num1 if num1 >= num2 else num2)

print("{}와 {} 중에서 큰 수는 {}입니다".format(num1, num2,big))

첫 번째 숫자를 입력하세요 >> 30
두 번째 숫자를 입력하세요 >> 20
30와 20 중에서 큰 수는 30입니다

In [71]:
str1 = "Python"
str2 = "python"

"같다" if str1 == str2 else "다름"

'다름'